/* Account Css */

.account{
    width: 100%;
    position: relative;
    z-index: 3;

    background-color: white;
}
.account-bar{
    width: 100%;
    border: 3px solid #5f8ce2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    position: absolute;
    background-color: #ffc5ae;
}
/* Input */
.input-key{
    height: 30px;
    width: 80%;
    border: 0;

    background-color: white;
}
.div-mm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: absolute;
}
/* Buttons */
.button-go, .button-mm{
    height: 30px;
    width: 10%;
    border: 0;

    background-color: #fee9b8;
}
.button-mm{
    background-image: url('../images/Metamask.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.button-go{
    font-family: monospace;
}