/* Header animation */

/* Messages about events */
#guy{
    height: 100px;
    width: 100px;
    background-image: url('../images/guy3.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#msg{
    font-family: 'Courier New', Courier, monospace;
}

/* Baloon animation */
#baloon-wrap{
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    bottom: -30px;

    transition: bottom 15s ease;
}

#baloon{
    width: 100px;
    height: 120px;

    background-image: url('../images/hot-air.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#eth{
    height: 40px;
    width: 30px;

    position: absolute;
    bottom: -10px;
    right: 34px;

    display: none;

    background-image: url('../images/eth.png');
    background-size: contain;
    background-repeat: no-repeat;

}