/* Content Css */

/* .content{
    
} */


#msg-div{
    height: 400px;
    width: 500px;

    border-bottom: 4px solid #5f8ce2;
    border-right: 4px solid #5f8ce2;
    border-left: 4px solid #5f8ce2;
    /* border: 4px solid #5f8ce2; */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    align-self: end;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    position: relative;
    /* right: 70px; */

}

#msg{
    height: auto;
    width: auto;
    margin: 10px;
    /* border: 4px solid #ffc5ae; */
    border-radius: 20px;
    padding: 15px;

    /* display: flex; */
    /* align-items: start;
    justify-content: center; */

    position: relative;
    /* bottom: -50px; */

    /* text-align: center; */
    font-family: monospace;
    font-size: 1.4rem;
    font-style: italic;
    color: #2c4e8d;
}

#guy{
    width: 160px;
    height: 60px;

    border: 1px solid black;

    /* position: relative; */
    z-index: 2;
    /* bottom: -13px; */
    /* left: 38px; */

    cursor: pointer;

    background-image: url('../images/guy3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#button-about{
    height: 30px;
    width: 100px;

    border: 4px solid #5f8ce2;
    border-radius: 5px;

    /* position: relative; */
    /* bottom: -10px;
    right: -4px; */
}

.content{
    height: 300px;
    /* border-right: 10px solid #5f8ce2; */
    /* border-bottom: 2px solid #5f8ce2; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}

.content-info{
    /* height: 100%;
    width: 100%; */
    /* margin: 10px; */

    padding: 0px;
    /* border: 2px solid grey; */

    position: relative;

    background-color: rpg(255, 250, 236);
    color: #2f4f8a;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-info > h2{
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 1.1rem;
}
.content-info > p{
    font-size: 1rem;
}
