/* General Css */

/* Colors

#fee9b8
#ffc5ae 
#5f8ce2
#2c4e8d */


*{
    /* border: 1px solid black; */
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;

    background: radial-gradient(circle, rgb(255, 237, 180), rgb(255, 250, 236), rgb(255, 254, 252));
}
header{
    height: 200px;
    width: 500px;
    margin: auto;

    position: relative;
    z-index: 3;

    display: flex;
    align-items: end;
    justify-content: space-between;

    /* background-color: rgb(255, 254, 252); */
}
h1{
    margin: 0;
    padding: 0;

    position: relative;
    bottom: -5px;

    font-family: Sixtyfour,'Courier New', Courier, monospace;
    color:#2c4e8d;
}
#blocks{
    font-size: 0.5rem;
}

main{
    width: 600px;
    margin: 0 auto;

    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
button{
    border: 0;
    /* border-bottom: 1px solid blue; */
    cursor: pointer;

    font-family: 'Courier New', Courier, monospace;

    background-color: #fee9b8;
}
button:hover{
    background-color: #ffc5ae;
}