/* Account Css */

.transaction{
    position: relative;
    z-index: 2;
}
.receive-bar{
    border: 3px solid #5f8ce2;
    border-radius: 5px;
    
    display: flex;

    position: relative;
    top: 0px;
    
    background-color: #FDCD60;

    transition: top 0.5s ease;
}

.receive-bar > .input-key{
    width: 65%;
}
.input-value{
    width: 15%;
}

