/* Account Css */

.transaction{
    position: relative;
    z-index: 2;
}
.receive-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    position: absolute;
    z-index: -1;
    top:0px;
    background-color: #ffc5ae;

    transition: top 0.5s ease;
}

.receive-bar > .input-key{
    width: 65%;
}
.input-value{
    width: 15%;
}

